body {
    background-color: green;
}
.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5% auto;
}
#card{
    background-color: aliceblue;
    width: 370px;
    height: 500px;
    margin: 5% auto;
    border-radius: 11px;
    padding: 10px;
    box-shadow: 3px 2px rgb(63, 57, 57);
}
.symbol-top {
    font-size: 90px;
}
#number {
    display: flex;
    justify-content: center;
    font-size: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.symbol-bottom {
    display: flex;
    justify-content: end;
    font-size: 90px;
}
